		<div class="hero-unit customHero">
			<h1><i class="icon-sitemap"></i> Genres</h1>
			<i>The feelings, memories and thoughts of music</i>
		</div>
	</div>
</div>

<% @genres.each do |genre| %>
	<div class="span2 centreDiv">
		<%= link_to genre do %>
			<% imageLocation = "http://hokuto.s3.amazonaws.com" + genre.photo.path(:small) %> 
			<%= image_tag imageLocation %><br>
			<%= genre.name %><br>
			<br>
		<% end %>
	</div>
<% end %>