		<div class="hero-unit customHero">
			<h1><i class="icon-group"></i> Artists</h1>
			<i>The people behind the music</i>
		</div>
	</div>
</div>

<% @artists.each do |artist| %>
	<div class="span3 trackPictureDiv centreDiv trackDiv">
		<%= link_to artist do %>
			<%= image_tag artist.photo.url(:small) %><br>
			<%= artist.name %><br>
			<br>
		<% end %>
	</div>
<% end %>