		<div class="hero-unit customHero">
			<h1><i class="icon-music"></i> Albums</h1>
			<i>Collections of music produced by your favourite artists</i>
		</div>
	</div>
</div>

<% if @albums.count > 0 %>
	<% @albums.each do |album| %>
		<div class="span3 trackPictureDiv centreDiv trackDiv">
			<%= link_to album do %>
				<% imageLocation = "http://hokuto.s3.amazonaws.com" + album.photo.path(:small) %> 
				<%= image_tag imageLocation %><br>
				<%= album.name %><br>
				<br>
			<% end %>
		</div>
	<% end %>
<% else %>
	<h3>No Albums Found</h3>
<% end %>